@model CrusadeServices.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesPersonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesPersonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salutation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salutation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_Salutation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_Salutation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_HomeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_HomeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_OfficeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_OfficeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B_ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B_ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBlacklisted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBlacklisted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
