@model IEnumerable<CrusadeServices.Models.Customer>

@{
    ViewData["Title"] = "Residential";
}

@* <h1>Residential</h1> *@

<div class="container-fluid py-4">
	<!-- Body 1 -->
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-3">
					<h5 class="mb-0">Search Criteria</h5>
				</div>
				<div class="card-body p-3">
					<div class="row">
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="input-group input-group-outline">
								<label class="form-label">Company / Customer Name</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="input-group input-group-outline">
								<label class="form-label">Contact Person Name</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="input-group input-group-outline">
								<label class="form-label">Contact Number</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="input-group input-group-outline">
								<label class="form-label">Job Date</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="input-group input-group-outline">
								<label class="form-label">Work Order Number</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<div class="input-group input-group-outline">
								<label class="form-label">Invoice Number</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-6 col-12">
							<br />
							<button class="btn bg-gradient-success w-100 mb-0" type="button" data-target="successToast">Search</button>
						</div>
						<div class="col-lg-3 col-sm-6 col-12">
							<br />
							<button class="btn bg-gradient-success w-100 mb-0" type="button" data-target="successToast">Clear Selections</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Body 1 -->
	<form asp-action="Create" method="post">
		<button class="btn bg-gradient-info" type="button" data-toggle="modal" data-target="#customerFormModal">Add New Customer</button>
	</form>
	<!-- Body 2 -->
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
						<h6 class="text-white text-capitalize ps-3">Residential Customers</h6>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Name</th>
									<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Phone No</th>
									<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Address</th>
									<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Phone No</th>
									<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Address</th>
									<th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">PostalCode</th>
									<th class="text-secondary opacity-7"></th>
								</tr>
							</thead>
							<tbody>
								@foreach(var item in Model)
								{
									<tr>
										<td class="align-middle">
											<p class="text-xs text-secondary mb-0">@($"{item.Salutation} {item.FirstName} {item.LastName}")</p>
										</td>
										<td class="align-middle text-sm">
											<p class="text-xs text-secondary mb-0">
												@(
													(string.IsNullOrWhiteSpace(item.MobileNo) ? "" : item.MobileNo) +
													(string.IsNullOrWhiteSpace(item.MobileNo) && string.IsNullOrWhiteSpace(item.HomeNo) ? "": ", ") +
													(string.IsNullOrWhiteSpace(item.HomeNo) ? "" : item.HomeNo) +
													(string.IsNullOrWhiteSpace(item.HomeNo) && string.IsNullOrWhiteSpace(item.OfficeNo) ? "" : ", ") +
													(string.IsNullOrWhiteSpace(item.OfficeNo) ? "" : item.OfficeNo)
												)
											</p>
										</td>
										<td class="align-middle text-sm">
											<p class="text-xs text-secondary mb-0">@($"{item.Address1} {item.Address2}, {item.PostalCode}")</p>
										</td>
										<td>
											<p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.FirstName)</p>
										</td>
										<td class="align-middle text-sm">
											<p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.LastName)</p>
										</td>
										<td class="align-middle text-sm">
											<p class="text-xs text-secondary mb-0"></p>
										</td>
										<td class="align-middle">
											<a class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
											<a class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salutation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Phone No
            </th>
            <th>
                Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salutation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
